<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XPlorapp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>07C277BF1D18A46B00747BA5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07C277D81D18A46B00747BA5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07C277E31D18A46C00747BA5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
